---
interface Props {
  size?: number | string;
  class?: string;
}

const { size = 24, class: className }: Props = Astro.props;
const sizeValue = typeof size === "number" ? `${size}px` : size;

// Vite/Astro gibt dir so eine saubere URL fürs Asset
import cocktailPngUrl from "../../assets/icons/cocktail.png?url";
---

<span
  class={`cocktail-icon${className ? ` ${className}` : ""}`}
  style={`
    width:${sizeValue};
    height:${sizeValue};
    background-color: var(--accent, #c9682a);
    -webkit-mask-image: url('${cocktailPngUrl}');
    mask-image: url('${cocktailPngUrl}');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  `}
></span>

<style>
  .cocktail-icon {
    display: inline-block;
  }
</style>
